body {
  background-color: black;
  font-family: "Amatic SC", cursive;
}

.menu {
  display: inline-flex;
  justify-content: center;
  align-items: stretch;
  box-shadow: 0px 0px 100px #b30000;
  background-color: rgba(179, 0, 0, 0.5) #b30000;
}

.section {
  color: antiquewhite;
  font-size: xx-large;
  margin-bottom: 30px;
}

.logowildcircus {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;
  height: auto;
}
h2 {
  display: flex;
  justify-content: center;
  color: #b30000;
  padding: 10px;
  margin-top: 70px;
  box-shadow: 0px 0px 100px silver;
}
h3 {
  text-align: center;
  color: #b3b300;
  margin: 20px;
}

.fool {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  max-width: 30%;
}

.fun {
  display: flex;
  flex-direction: row;
  align-content: stretch;
  margin-left: auto;
  margin-right: auto;
  max-width: 30%;
  height: auto;
}

.speed,
.aqua {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  max-width: 30%;
  height: auto;
}

article {
  text-align: center;
  color: #b3b300;
  font-size: xx-large;
  margin: 20px;
}
